# Script to setup the environment for yaetos. It needs to be executed from the repo root folder.
#
# Copy this file, remove ".example", and make the following changes:
#  - set 'yaetos_home' below to the location of your yaetos repo.
#  - set 'yaetos_jobs_home' below to the location of 1) your yaetos jobs repo if separate from the yaetos_home or 2) your yaetos repo if jobs and framework are both in the same repo.
#  - add : "-v ~/.aws:/.aws \" to use the tool to run jobs in AWS (ad-hoc or scheduled). Requires awcli setup on host (with ~/.aws setup with profile "default").
# Usage once above done:
# - "./launch_env.sh 1" -> goes in docker bash, can be used to run all jobs in command line (incl. spark jobs)
# - "./launch_env.sh 2" -> sets up jupyter in docker, can be used to run all jobs in jupyter. Open UI in host OS at http://localhost:8888/
# - "./launch_env.sh 3 python somejob.py --some_arg" -> sets up jupyter in docker, can be used to run all jobs in jupyter. Open UI in host OS at http://localhost:8888/


yaetos_jobs_home=/path/to/repo/yaetos_or_yaetos_jobs_if_separate/
yaetos_home=/path/to/repo/yaetos/

run_mode=$1  # values: 0 (no docker) or 1 (docker bash), or 2 (docker jupyter)
if [[ $run_mode = 1 ]]; then
  echo 'Starting docker with bash'
  cd $yaetos_jobs_home
  docker build -t pyspark_container -f Dockerfile_alt .
  docker run -it -p 4040:4040 -p 8080:8080 -p 8081:8081 -p 8888:8888 \
      -v $yaetos_jobs_home:/mnt/yaetos_jobs \
      -v $yaetos_home:/mnt/yaetos \
      -v $HOME/.aws:/.aws \
      -h spark \
      -w /mnt/yaetos_jobs/ \
      pyspark_container \
      bash
elif [[ $run_mode = 2 ]]; then
  echo 'Starting docker with jupyter notebooks'
  cd $yaetos_jobs_home
  docker build -t pyspark_container -f Dockerfile_alt .
  docker run -it -p 4040:4040 -p 8080:8080 -p 8081:8081 -p 8888:8888 \
      -v $yaetos_jobs_home:/mnt/yaetos_jobs \
      -v $yaetos_home:/mnt/yaetos \
      -v $HOME/.aws:/.aws \
      -h spark \
      -w /mnt/yaetos_jobs/ \
      pyspark_container \
      jupyter notebook --ip 0.0.0.0 --port 8888 --no-browser --allow-root
elif [[ $run_mode = 3 ]]; then
  cmd_str="${@:2}"
  echo "Starting the following job in docker: $cmd_str"
  cd $yaetos_jobs_home
  docker build -t pyspark_container -f Dockerfile_alt .
  docker run -it -p 4040:4040 -p 8080:8080 -p 8081:8081 -p 8888:8888 \
      -v $yaetos_jobs_home:/mnt/yaetos_jobs \
      -v $yaetos_home:/mnt/yaetos \
      -v $HOME/.aws:/.aws \
      -h spark \
      -w /mnt/yaetos_jobs/ \
      pyspark_container \
      $cmd_str
elif [[ $run_mode = 4 ]]; then
  cmd_str="${@:2}"
  echo "Executing command: $cmd_str"
  $cmd_str
else
  echo 'Incorrect argument, command ignored'
fi
