# Copy this file, remove ".example", and make changes like:
# replace ~/code/yaetos below by location of your yaetos repo.
# add : "-v ~/path/to/your/repo/pipelines:/mnt/yaetos_jobs \" if putting the pipelines in an external repo.
# add : "-v ~/.aws:/.aws \" to use the tool to run jobs in AWS (ad-hoc or scheduled). Requires awcli setup on host (with ~/.aws setup with profile "default").
# other options to be added if necessary:
# --cpu-shares \
# --cpus 6 \
# --memory 6g \

run_docker=0  # values: 0 or 1
if [ $run_docker = 1 ]; then
  docker build -t pyspark_container -f Dockerfile_alt .
  docker run -it -p 4040:4040 -p 8080:8080 -p 8081:8081 \
      -v ~/code/yaetos:/mnt/yaetos \
      -h spark \
      pyspark_container \
      bash
else
  export PYSPARK_AWS_ETL_HOME=$PWD'/'
  export PYTHONPATH=$PYSPARK_AWS_ETL_HOME:$PYTHONPATH
  echo 'Yaetos setup to work from OS repo (not in docker), if sent as "source launch_env.sh"'
  # Export above implies using source launch_env.sh or export won't overwrite previous value.
fi
