# For docker env. TODO: use it for AWS setup too, would involve splitting it in 2 req files (master and slave sides).
pyyaml==5.4  # leads to error with "awscli 1.16.67 has requirement PyYAML<=3.13,>=3.10". But tool still working.
ipdb==0.13.4
awscli==1.16.67  # necessary to deploy to AWS Data Pipeline. Tried 1.19.7 but causes pb with botocore.
boto3==1.9.57
# botocore==1.8.7
networkx==2.4
numpy==1.18.5  # needs to be forced this version instead of latest (1.19.2) to be compatible with koalas 1.3.0 (requiring <1.19)
pandas==1.0.0
pytest==5.3.0
sqlalchemy==1.3.15
scikit-learn==0.20.0
statsmodels==0.9.0
kafka-python==1.4.7
jsonschema==3.0.2
flake8==3.7.9
stripe==2.50.0
soql==1.0.2
# setuptools-rust==0.11.6
cryptography==3.3.1
simple-salesforce==1.10.1
pymysql==0.9.3
psycopg2-binary==2.8.5
sqlalchemy-redshift==0.7.7
stripe==2.50.0
# koalas==1.3.0
py4j==0.10.9.1
