[dev]
profile_name         : to_be_filled
ec2_key_name         : to_be_filled
user                 : to_be_filled
s3_region            : to_be_filled
ec2_subnet_id        : to_be_filled
extra_security_gp    : None

[prod]
profile_name         : to_be_filled
ec2_key_name         : to_be_filled
user                 : to_be_filled
s3_region            : to_be_filled
ec2_subnet_id        : to_be_filled
extra_security_gp    : None
