# Add here If your transformations require extra python library:
# - Add them below, following standard python requirement files format.

scikit-learn==1.0.2 # TODO: fix dep and re-enable since needed for joblib
statsmodels==0.13.2  # Uncomment if needed, tested to work
# kafka-python==1.4.7  # Uncomment if needed
# jsonschema==3.0.2 # needed by kafka_utils
# stripe==2.50.0  # Uncomment if needed
# soql==1.0.2  # Necessary for simple-salesforce
# simple-salesforce==1.10.1
# koalas==1.3.0
