# Add python libraries required by your jobs (following standard python requirements.txt format)

requests==2.31.0
# Some potentially useful ones below (to uncomment if needed):
# statsmodels==0.13.2
# stripe==2.50.0
# simple-salesforce==1.10.1
# soql==1.0.2  # Necessary for simple-salesforce
