[oracle_servicex_accounty]
user: username
password: password
service: servicex
host: some_host
port: some_port

[hive_prod_someuser]
host: somehost
user: someuser

[hive_dev_someuser]
host: somehost
user: someuser
